.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 80dvh;
  width: 180dvh;
}
.filtersBar {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 20dvb;
  height: 100dvb;
  margin-right: 5%;
}
.page {
  display: flex;
  justify-content: start;
}
.filtersBarItem {
  margin-bottom: auto;
}
