.cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  color: #ffffff;
  overflow-y: auto;
  height: 76dvh;
  width: 99dvi;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;
  color: aliceblue;
}
.buyButton {
  margin: 0.5rem;
  color: aliceblue;
  background-color: grey;
  margin-left: 55dvi;
}
.totalPrice {
  width: 20rem;
  overflow-x: auto;
}
