.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 80dvh;
  width: 180dvh;
}
.item {
  border: solid grey 2px;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  height: 400px;
  overflow-y: scroll;
  scrollbar-width: none;
  margin: 10px;
}
.hl {
  font-size: xx-large;
  font-weight: bolder;
  color: aliceblue;
}
.cat {
  font-size: large;
  font-weight: bolder;
  color: aliceblue;
}
.des {
  color: aliceblue;
}
.sellerName {
  color: aliceblue;
}
.price {
  color: aliceblue;
  font-size: larger;
}
.uploadedDate {
  color: aliceblue;
}
.buyB {
  margin: 10px;
}
.itemB {
  margin: 10px;
}
.img {
  height: 200px;
  width: 250px;
}
