.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  color: #ffffff;
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 75dvh;
  width: 100dvi;
}
