.main {
  position: relative;
  margin-top: 0rem;
  margin-bottom: 0rem;
  clear: left;
  z-index: 0;
  text-align: center;
  margin: 0rem;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-top: 0rem;
    padding: 0rem;
    overflow: hidden;
    background-color: #5f5f5f;
    width: 99dvi;
  }
  li {
    padding: 0rem;
    float: left;
    margin: 0rem;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.2rem;
    text-decoration: none;
  }

  li a:hover {
    padding: 0.2rem;
    background-color: #111111;
  }
  ol {
    padding: 0rem;
    list-style-type: none;
    float: left;
    margin: 0rem;
  }
  .quantity {
    font-size: larger;
    margin-right: 0.4rem;
    font-weight: 600;
    width: 1.6rem;
  }
}
