.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  color: rgb(255, 255, 255);
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 80dvh;
  width: 180dvh;
}
.filtersBar {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 20dvb;
  height: 100dvb;
  margin-right: 5%;
}
.page {
  display: flex;
  justify-content: start;
}
.filtersBarItem {
  margin-bottom: 4rem;
}
.filtersBarItemPrice {
  margin-bottom: 3.27rem;
}

.search {
  position: relative;
  display: flex;
  margin-bottom: 3.28rem;
}

.searchTerm {
  width: 10.7rem;
  border: 3px solid grey;
  padding: 5px;
  height: 1.4rem;
  border-radius: 5px;
  outline: none;
  color: white;
}

.searchTerm:focus {
  color: white;
}
