.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 90dvh;
  width: 90dvi;
}
.filtersBar {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 20dvh;
  height: 100dvh;
  margin-right: 2rem;
  margin-left: 0.2rem;
}
.page {
  display: flex;
  justify-content: start;
}
.filtersBarItem {
  margin-bottom: 4rem;
  width: 10.7rem;
  border: 3px solid grey;
  height: 1.4rem;
  border-radius: 0.4rem;
  outline: none;
  color: white;
  height: 2rem;
}
.filtersBarItemPrice {
  margin-bottom: 3.27rem;
  margin-left: 0.278rem;
}

.search {
  margin-bottom: 4rem;
  width: 10.2rem;
  color: white;
  border: 3px solid grey;
  height: 1.4rem;
  border-radius: 0.4rem;
  outline: none;
  height: 2rem;
}
.search::placeholder {
  color: white;
}
@media (prefers-color-scheme: light) {
  .search {
    margin-bottom: 4rem;
    width: 10.2rem;
    color: rgb(255, 255, 255);
    background-color: black;
    border: 3px solid grey;
    height: 1.4rem;
    border-radius: 0.4rem;
    outline: none;
    height: 2rem;
  }
  .filtersBarItem {
    background-color: black;
    margin-bottom: 4rem;
    width: 10.7rem;
    border: 3px solid grey;
    height: 1.4rem;
    border-radius: 0.4rem;
    outline: none;
    color: rgb(255, 255, 255);
    height: 2rem;
  }
}
